<div class="container-fluid" *ngIf="user">
    <div class="row">
        <div class="col-lg-3 sidenav">
            <img class="sidenav-img" src="/assets/img//perfil.png" alt="team-leader-profile">
            <span class="sidenav-title"> {{user.nombre}} {{user.apellido}} </span>
            <span class="sidenav-subtitle" *ngIf="user.rol != null"> {{ getRol(user.rol) }} </span>
            <!-- <img class="sidenav-img-2" src="/assets/img//rect3.png" alt="rect-3"> -->
        </div>
        <div class="col-lg-9">
            <mat-card class="home-card">
                <mat-card-header>
                    <mat-card-title class="home-card-title">Bienvenido {{ user.nombre }} </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, aliquid error quisquam quidem vitae atque tenetur, quasi quibusdam incidunt accusantium perferendis dolor. Autem dolorum, distinctio accusamus reprehenderit tempora voluptatem officiis?.
                    </p>
                </mat-card-content>
            </mat-card>

            <div class="teams" *ngIf="user.rol === 2">
                <mat-card class="team-card" *ngFor="let grupo of grupos">
                    <mat-card-content class="team-card-content">
                        <p class="group"> Grupo </p>
                        <p class="group-name"> {{grupo.seleccionado ? "S"+grupo.seleccionado : "C"+grupo.cohorte }} - {{grupo.numero != null ? grupo.numero < 10 ? "0"+grupo.numero : ""+grupo.numero : "" }} - {{grupo.turno}} - {{grupo.stack}} </p>
                        <button mat-icon-button (click)="onClick()">
                            <mat-icon> chevron_right </mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- <div class="teams" *ngIf="user.rol === 1">
                <mat-card class="team-card" *ngFor="let tl of teamLeaders">
                    <mat-card-content class="team-card-content">
                        <p class="group"> Grupo </p>
                        <p class="group-name"> {{grupo.seleccionado ? "S"+grupo.seleccionado : "C"+grupo.cohorte }} - {{grupo.numero != null ? grupo.numero < 10 ? "0"+grupo.numero : ""+grupo.numero : "" }} - {{grupo.turno}} - {{grupo.stack}} </p>
                        <button mat-icon-button (click)="onClick()">
                            <mat-icon> chevron_right </mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div> -->
        </div>
    </div>
</div>
