<div class="container-fluid" *ngIf="user" style="height: 100%;">
    <div class="row sidenav-container">
        <div class="col-lg-3 sidenav">
            <div class="sidenav-content-teamleader d-flex justify-content-center flex-column align-items-center ">
                <img class="sidenav-img" [src]='"assets/img/"+user.id+".png"' alt="team-leader-profile"
                    style="border-radius: 50%;">
                <span class="sidenav-title"> {{user.nombre}} {{user.apellido}} </span>
                <span class="sidenav-subtitle" *ngIf="user.isAdmin != null"> {{ getRol(user.isAdmin) }} </span>
            </div>
            <div class="sidenav-content-admin d-flex justify-content-center flex-column align-items-center gap-3 mt-4"
                *ngIf="user.isAdmin === 1">
                <a class="sidenav-links"> Comentarios </a>
                <a class="sidenav-links"> Reportes </a>
                <a class="sidenav-links"> Configuracion </a>
                <button mat-raised-button class="sidenav-btn" (click)="openModalAddTl()">Añadir Team Leader</button>
            </div>
            <!-- <img class="sidenav-img-2" src="/assets/img//rect3.png" alt="rect-3"> -->
        </div>
        <div class="col-lg-9 col-xs-12 home-container">
            <mat-card class="home-card">
                <mat-card-header>
                    <mat-card-title class="home-card-title">Bienvenido/a {{ user.nombre }} </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p *ngIf="user.isAdmin == 1">
                        ¡Bienvenido a nuestra página web de administrador! Aquí encontrarás todos los recursos
                        necesarios para gestionar eficazmente a tus team leaders. Podrás monitorizar, actualizar
                        contenido y realizar un seguimiento detenido de cada grupo.
                        Estamos comprometidos con ofrecerte una experiencia de administración intuitiva y fácil de usar.
                    </p>
                    <p *ngIf="user.isAdmin == 0">
                        Nuestra plataforma en línea está diseñada para ayudarte a gestionar y coordinar tu equipo de
                        trabajo de manera más efectiva. Sabemos que liderar un equipo puede ser un desafío, por lo que
                        hemos creado esta herramienta para facilitar el trabajo de los líderes de equipo y mejorar la
                        colaboración en los proyectos.
                        En nuestra página web, encontrarás una interfaz fácil de usar que te permitirá ver el progreso
                        de las tareas asignadas a los miembros de tu equipo también podrás asignarles roles y
                        responsabilidades específicas.
                    </p>
                </mat-card-content>
            </mat-card>

            <div class="teams" *ngIf="user.isAdmin === 0">
                <mat-card class="team-card" *ngFor="let grupo of grupos">
                    <mat-card-content class="team-card-content">
                        <p class="group"> Grupo </p>
                        <p class="group-name"> {{grupo.name}} </p>
                        <!-- <p class="group-name"> {{grupo.seleccionado ? "S"+grupo.seleccionado : "C"+grupo.cohorte }} - {{grupo.numero != null ? grupo.numero < 10 ? "0"+grupo.numero : ""+grupo.numero : "" }} - {{grupo.turno}} - {{grupo.stack}} </p> -->
                        <button mat-icon-button (click)="onClick(grupo.name)">
                            <mat-icon> chevron_right </mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="teamleaders" *ngIf="user.isAdmin === 1">
                <div class="row">
                    <div class="col-lg-4 col-sm-12" *ngFor="let tl of teamLeaders">
                        <mat-card class="teamleaders-card">
                            <mat-card-content class="teamleaders-card-content">
                                <img class="teamleaders-card-img" [src]='"assets/img/"+tl.studentId+".png"'
                                    alt="perfilTL">
                                <span class="teamleaders-card-title"> {{tl.student.name}} </span>
                                <span class="teamleaders-card-subtitle"> Desarrollador web </span>
                                <span class="teamleaders-card-groups"> Grupos: </span>
                                <span class="teamleaders-card-groups" *ngFor="let grupo of tl.teams">
                                    {{grupo.name}}
                                </span>
                            </mat-card-content>
                            <mat-select placeholder="Ver grupo" (selectionChange)="onGroupSelected($event.value)">
                                <mat-option *ngFor="let grupo of tl.teams" [value]="grupo">
                                    {{grupo.name}}
                                </mat-option>
                            </mat-select>
                        </mat-card>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>