@use './../../../assets/theme/colors.scss' as c;

main {
    height: 100%;
    width: 100%;
    background: c.$primary ;
}

html, body, app-root {
    height: 100%;
    width: 100%;
    margin: 0;
}
    

.sidenav {
    background: linear-gradient(180deg, #030428 41.93%, #021E55 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidenav-links {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.35px;
    color: #FFFFFF;
    cursor: pointer;
}

.sidenav-btn {
    color: #fff !important;
    background: #1D90FC !important;
    width: 100%;
    margin: 2vh 0;
    border-radius: 100px;
}
    

.home-card {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5em;
    p {
        padding: 1rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #000000;
    }
} 


.home-card-title {
    color: #0E0F0F;
    // font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: -0.35px;
    padding: 1rem;
    margin-top: 1rem;
}
.teams {
    display: flex;
    flex-direction: column;
}

.team-card {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2em 7em;
}
.team-card-content {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.group {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.35px;
    color: #0E0F0F;
}

.group-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.35px;
    color: #0E0F0F;
}

.sidenav-img {
    margin-top: 9rem;
    max-width: 202px;
}

.sidenav-img-2 {
    max-width: 271px;
    position: absolute;
    bottom: -241px;
    left: 0;    
}

.sidenav-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: -0.35px;
    color: #FFFFFF;
    margin-top: 2rem;
}

.sidenav-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.35px;
    color: #FFFFFF;
    margin-top: 1rem;
}


.teamleaders {
    display: flex;
    flex-direction: column;
}

.teamleaders-card {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em 2.5em;
    margin-bottom: 4em;
}
.teamleaders-card-content {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
}

.teamleaders-card-img {
    margin-top: -5em;
    max-width: 10em;
    border-radius: 50%;
}

.teamleaders-card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.35px;
    color: #0E0F0F;
}

.teamleaders-card-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.35px;
    color: #0E0F0F;
    margin-bottom: 1em;
}

.teamleaders-card-groups {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.35px;
    color: #484B4B;
}


.teamleaders-card-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}