<nav class="navbar navbar-expand-lg" *ngIf="isLoggedIn">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#"> <img src="./../../../assets/img/rect1711.png" alt=""> No Country</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-items collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" (click)="onClickLogOut()"><i class="bi bi-box-arrow-left" style="font-size: 1.2rem;"></i> Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket" style="margin-left: 0.5vh;"></i></a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Grupo 1</a></li>
            <li><a class="dropdown-item" href="#">Grupo 2</a></li>
            <li><a class="dropdown-item" href="#">Grupo 3</a></li>
          </ul>
        </li>
        <a class="nav-link dropdown-toggle circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./../../../assets/img/profile.png" alt="">
        </a>

      </ul>
    </div>
  </div>
</nav>
