<main class="d-flex justify-content-center align-items-center">
  <section class="row d-flex col-12 col-lg-10">
    <div class="content col-md-5 col-sm-10 align-items-center justify-content-center " >
      <article>
        <h2>Management System NC</h2>
        <p>No Country va de la mano con sus Team Leaders y dispone del talento adecuado
          para integrarse a su equipo de trabajo de forma inmediata</p>
      </article>
      <div class="buttons d-flex  col justify-content-center align-items-center">
        <button mat-raised-button (click)="openModal() ">Ingresar como administrador</button>
        <button mat-raised-button (click)="openModal()">Ingresar como Team Leader</button>
      </div>
    </div>
    <div class="images col-md-5 col-sm-10 d-flex align-items-center justify-content-center  ">
      <img class="img-1" src="./../../../assets/img/rectgreen.png" alt="">
      <img class="img-2"src="./../../../assets/img/rectblue.png" alt="">
    </div>
  </section>
</main>
